* {
  box-sizing: border-box;
  position: absolute;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: navy;
  display: flex;
}

#main {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bonka {
  background-color: black;
  border: 5px yellow solid;
  font-family: "Bitter";
}
