* {
    box-sizing: border-box;
    position: absolute
}

body{
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    margin: 0;
    background-color: black;
    font-family: "Bitter";
    display: flex;
    align-items: center;
}


:root {
    --red: rgb(255,0,0);
}
